[submodule "pugixml"]
	path = externals/pugixml
	url = ../../zeux/pugixml.git
[submodule "externals/CMakeUtils"]
	path = externals/CMakeUtils
	url = ../../PerMalmberg/CMakeUtils.git
[submodule "externals/Catch2"]
	path = externals/Catch2
	url = ../../catchorg/Catch2.git
